<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ImageFilterValue" value="Image files(*.jpg, *.jpeg, *.png) | *.jpg; *.jpeg; *.png"/>
  </appSettings>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding maxReceivedMessageSize="10485760" name="BasicHttpBinding_IImageHandlerService" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:8080/ImageService" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IImageHandlerService"
            contract="IImageHandlerService" name="BasicHttpBinding_IImageHandlerService" />
      </client>
    </system.serviceModel>
</configuration>