<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IImageHandlerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ImageService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IImageHandlerService"
                contract="IImageHandlerService" name="BasicHttpBinding_IImageHandlerService" />
        </client>
    </system.serviceModel>
</configuration>